extends base.pug

block content
    h1 Available software windows

    each software in object_list
        h2=software.name

        each window in software.windows.all
            h3
                div.grid
                    a(href=("/" + software.slug_name + "/" + window.slug_title + "/"))
                        button=window.title
