body {
    background-color: #3c3c3c;
    color: #ffffff;
    font-family: Arial;
}

a {
    color: #378afc;
    text-decoration: none;
}

button {
    background-color: #378afc;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

img {
    margin: 0 5px;
    max-width: 97.5%;
    border: 1px solid #378afc;
}

#command-ok {
    color: #0BAB32;
}

#command-error {
    color: #E83330;
}

#toggle-commands, #toggle-click-and-drag {
    font-size: 0.7em;
}

#mode-disclaimer {
    font-size: 0.5em;
}

h1.software-window {
    margin-top: 0;
}

.app-controls {
    text-align: right
}

.app-controls button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.material-icons {
    font-size: 2em;
    float: right;
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

.column.title, .column.app-controls {
    flex: 25%;
}
