body {
    background-color: #3c3c3c;
    color: #ffffff;
    font-family: Arial;
}

a {
    color: #378afc;
    text-decoration: none;
}

button {
    background-color: #378afc;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

img {
    margin: 0 5px;
    max-width: 97.5%;
}

#command-ok {
    color: #0BAB32;
}

#command-error {
    color: #E83330;
}

h1.software-window {
    margin-top: 0;
}

.material-icons {
    font-size: 2em;
    float: right;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}
